div.main_header {
	height: 100px;
	line-height: 100px;
	text-align: center;
	vertical-align: middle;
}

span.main_header {
	color: #ffffff;
	font-size: 250%;
}

span.body_text {
	font-size: 150%;
}
body {
	background-color: #E6E6FA;
}
h2.darkorchid {
	color: #9932CC;
}
h2.darkmagenta {
	color: #8B008B;
}
h2.indigo {
	color: #4B0082;
}
li.bold {
	font-weight: bold;
}
li.italic {
	font-style: italic;
}
li.underline {
	text-decoration: underline;
}	
a:hover.big {
	font-size: 150%;
}
td {
	text-align: center;
}
th {
	text-align: center;
}
th {
	background-color: #FFFF00
}
tr:nth-child(even) {
	background-color: #f2f2f2;
}
ol.decimal {
	list-style-type: decimal;
}	
ol.capital {
	list-style-type: upper-alpha;
}	
td.left {
	text-align: left;
}	

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: grey;
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: green;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
 	top: 5px;
	left: 5px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: white;
}

.container2 {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: grey;
}

.container2:hover input ~ .checkmark2 {
  background-color: #ccc;
}

.container2 input:checked ~ .checkmark2 {
  background-color: blue;
}

.checkmark2:after {
  content: "";
  position: absolute;
  display: none;
}

.container2 input:checked ~ .checkmark2:after {
  display: block;
}

.container2 .checkmark2:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}